
/*! ********* BANNER ********* */

.banner{
    background-image: url("./img/banner.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: #800080;
    background-position: center;

}

.banner-container{
padding: 8rem;

}

/*! ********* SERVICES ********* */

.services-item p{
    font-size: 1rem;
}

.services-item i{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.services-item span{
    display: flex;
    justify-content: center;
    
}

/*! ********* PORTFOLIO ********* */

.portfolio{
    background-color: #F8F9FA;
    
}

.portfolio-card{ 
    
}

.card-body{
    background-color: #FFFFFF;
    margin-top: 0;
}

.card{
    margin-top: 0;
}

/*.portfolio-card{
    border: 1px solid rgba(0,0,0,.125);;
}*/

/*! ********* OUR TEAM ********* */

.our-team{
    background-color: #F8F9FA;
}

.team-image{
    border: 10px solid #CCCCCC;
    width: 250px;
    height: 250px;
}

.media{
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #333;
    line-height: 40px;

    
}

div .col-sm a {
    color: black;
   text-decoration: none;
   font-size: 2rem;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

span.infosys {
    color: blue;
}

h2 {
    font-size: 5rem !important;
}
